<p>registro works!</p>
<form (ngSubmit)="onSubmit()" [formGroup]="registroForm">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text">
    
    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text">
    
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
    
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password">
    
    <label for="palabraSecreta">Palabra Secreta:</label>
    <input id="palabraSecreta" formControlName="palabraSecreta" type="text">
    
    <button type="submit">Registrarse</button>
  </form>
